.cuisinecheckbox input[type="checkbox"] + label {
    margin-right: 14px;
}

.ratingradiobuttons input[type="radio"] + label {
    margin-right: 10px;
}

.field label {
   font-weight : bold;
 }

 .borderbox {
     display:table;
     border:2px solid black;
     margin:100 auto;
 }
