<fieldset>
<legend>
  <h3>Restaurant Reviews</h3>
</legend>
<ul>
  <% @reviews.each do |review| %>
    <%= render partial: "more", locals: {review: review} %>
  <% end %>
</ul>
<%= page_entries_info @reviews %>
<%= paginate @reviews, window:2 %>
</fieldset>
<br/>
