<fieldset>
<legend>
  <h3>Create New Review</h3>
</legend>
<%= render 'form' %>
<div id="reviewResult">
  <h4 id="restaurantName"></h4>
  <p id="reviewBody"></p>
  <p id="reviewCuisines"></p>
  <p id="reviewRating"></p>
  <p id="reviewDateVisited"></p>
  <h4 id="reviewThankYou"></h4>
</div>
<div class="reviewLink"></div>
</fieldset>
<br/>
